<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="BasicHttpBinding_ILeagueDBService"/>
          <binding name="BasicHttpBinding_IUserService"/>
        </basicHttpBinding>
        <netTcpBinding>
          <binding name="NetTcpBinding_ILeagueDBService" transactionFlow="false" listenBacklog="100000000" maxBufferPoolSize="10000000" maxBufferSize="10000000" maxConnections="1000" maxReceivedMessageSize="10000000" portSharingEnabled="false">
            <reliableSession enabled="false"/>
            <security mode="None">
              <transport clientCredentialType="None" protectionLevel="None"/>
              <message clientCredentialType="None"/>
            </security>
          </binding>
        </netTcpBinding>
      </bindings>
      <client>
        <endpoint address="net.tcp://vmd48609:505/Service.svc" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILeagueDBService" contract="LeagueDBServiceRef.ILeagueDBService" name="NetTcpBinding_ILeagueDBService"/>
      </client>
    </system.serviceModel>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
        </providers>
    </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
</configuration>
